@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300");

@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/tables";
@import "moovly";

.moovly-plugin {
  .input-icon {
    height: 1rem;
    width: 1rem;
  }
}
.moovly-template {
  .template-field {
    input:not([type="checkbox"]):not([type="radio"]),
    select:not([type="checkbox"]):not([type="radio"]),
    textarea:not([type="checkbox"]):not([type="radio"]) {
      border-width: 1px;
      border-style: solid;
      border-color: rgb(223, 223, 223);
      color: #1d2e62;
    }
  }
  .template-field-loader > div {
    width: 200px;
  }
}
.recorder-footer {
  .recorder-input {
    input:not([type="checkbox"]):not([type="radio"]),
    select:not([type="checkbox"]):not([type="radio"]),
    textarea:not([type="checkbox"]):not([type="radio"]) {
      padding: 8px 6px;
      border-width: 1px;
      border-style: solid;
      border-color: rgba(255, 255, 255, 0.25);
      border-image: initial;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.05) !important;
    }
  }
}
.recorder-modal {
  label {
    color: rgba(255, 255, 255, 0.67) !important;
  }
}
