@import 'components/font-import';
@import 'components/login';
@import 'components/header';
@import 'components/nav';
@import 'components/navbar';
@import 'components/avatar';
@import 'components/jumbotron';
@import 'components/panel';
@import 'components/buttons';
@import 'components/table';
@import 'components/datepicker';
@import 'components/player';
@import 'components/images';
@import 'components/button-menu';
@import 'components/search';
@import 'components/medialist';
@import 'components/loader';
@import 'components/changelog';
@import 'components/page-transitions';
@import 'components/modal';
@import 'components/settings';

@import 'theme';

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}